exports/workflow-generated/state_machine_get_api_orders.json
{
  "Comment": "GitPulse State Machine generated for Trigger: GET /api/orders",
  "StartAt": "GET__api_orders",
  "States": {
    "GET__api_orders": {
      "Type": "Pass",
      "Comment": "Trigger: GET /api/orders (http)",
      "Next": "fetchOrders"
    },
    "fetchOrders": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:112233445566:function:gitpulse-get_api_orders-fetchorders",
      "Retry": [
        {
          "BackoffRate": 1.5,
          "ErrorEquals": [
            "States.Timeout",
            "States.TaskFailed"
          ],
          "MaxAttempts": 4,
          "IntervalSeconds": 5
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "act_1_fallback"
        }
      ],
      "Next": "fetchOrders_Wait"
    },
    "fetchOrders_Wait": {
      "Type": "Wait",
      "Seconds": 15,
      "Next": "isAdmin"
    },
    "isAdmin": {
      "Type": "Choice",
      "Comment": "Decision: isAdmin",
      "Choices": [
        {
          "Variable": "$.isAdmin_condition",
          "BooleanEquals": true,
          "Next": "Prisma_DB_Write"
        }
      ],
      "Default": "Prisma_DB_Write"
    },
    "Prisma_DB_Write": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:dynamodb:putItem",
      "Parameters": {
        "TableName": "GitPulse-Prisma_DB_Write-Table",
        "Item": {
          "id": {
            "S.$": "$.id"
          },
          "updatedAt": {
            "S.$": "$.updatedAt"
          }
        }
      },
      "Retry": [
        {
          "BackoffRate": 2,
          "ErrorEquals": [
            "States.ALL"
          ],
          "MaxAttempts": 5,
          "IntervalSeconds": 10
        }
      ],
      "End": true
    }
  }
}